<div class="container-fluid w-75">
    <div class="d-flex flex-row justify-content-between align-items-center p-4">
        <div class="pe-2">
            <h1>Bulk Order Promos</h1>
        </div>
    </div>

    <div class="list-group">
        <% @bulk_orders.each do |item| %>
            <%= render "bulk_order", item: item %>
        <% end %>
    </div>

    <div class="list-group">
        <div class="list-group-item" aria-current="true">
            <%= form_with model: @bulk_order, url: create_bulk_order_path do |f| %>
                <h5 class="mb-1">
                    New Price:  $<%= f.number_field :adjusted_price, step: 0.01 %>
                </h5>
                <small>
                    if you buy at least <%= f.number_field :min_quantity, step: 1 %> pc/s of <%= f.select :item_id, options_for_select(Item.all.collect{ |item| [item.sku, item.id] }), {:prompt => "Choose from the available SKUs"}, {} %>
                </small>
                <div>
                    <%= f.submit "Add", class: "btn btn-outline-success" %>
                    <button type="button" class="btn btn-secondary col-sm-1 mx-2">
                        <%= link_to "Cancel", bulk_orders_path, class: "text-white text-decoration-none" %>
                    </button>
                </div>
            <% end %>
        </div>
    </div>
</div>