<h1>Catalog</h1>
<%= link_to "Add New Item", new_item_path %>
<br>
<br>

<% @items.each do |item| %>
    <%= item.sku %>
    <br>
    <%= item.name %>
    <br>
    <%= item.price %>
    <br>
    <%= link_to "Remove Item", delete_item_path(item.id), data: { "turbo-method": :delete } %>
    <br>
    <br>
<% end %>